{% extends 'base-course.html' %}
{% block title %} Course 10: Final Assessment {% endblock %}
{% block courseNumber %}10{% endblock %}
{% block courseSubject %}Final Assessment{% endblock %}
{% block courseImage %}{{ url_for('static', filename='img/10.png') }}{% endblock %}
{% block courseDescription %}All persons who engage in Ethical Hacking are encouraged to voluntarily get test their knowledge here.{% endblock %}
{% block formQuestion %}What about this <a href="http://change-browser.hax.w3challs.com/" target="_blank">CTF</a>?{% endblock %}
{% block formHint %}No worries, you can go further by typing "yes" as the answer. However, do you know how to change the User Agent of your browser?{% endblock %}

{% block courseContent %}
                    <div class="row pl-sm-0 pr-sm-0 pl-lg-5 pr-lg-5 mt-4 mt-md-5 mt-lg-0">
                        <div class="col-12">
                            <h1 class="main-heading-detail green-color">Final<span class="blue-color"> Assessment</span></h1>
                            <p class="sub-heading margin-sub-heading text-black">All persons who engage in Ethical Hacking are encouraged to voluntarily get certified via testing, which is endorsed by CyberLab.</p>
                            <p class="sub-heading margin-sub-heading text-black">Certification is beneficial to the protection of consumers since it verifies an individual's level of knowledge and skill in a particular field of endeavor.</p>
                            <p class="sub-heading margin-sub-heading text-black">In the field of ethical hacking, obtaining a CyberLab certification is considered to be of the utmost importance and results in official acknowledgment.</p>
                            <p class="sub-heading margin-sub-heading text-black">CyberLab accreditation encourages the safe and effective delivery of Ethical Hacking services in any practice context. This is accomplished by establishing standards of expertise and knowledge necessary for the competent and ethical practice of hacking.</p>
                        </div>
                    </div>
                    <div class="row pl-sm-0 pr-sm-0 pl-lg-5 pr-lg-5 mt-5">
                        <div class="col-12">
                        <h1 class="main-heading-detail green-color">Course<span class="blue-color"> Curriculum</span></h1>
                        <section class="accordion" role="tabpanel" aria-live="polite" data-behavior="accordion">

                            <article class="accordion__item js-show-item-default" data-binding="expand-accordion-item">
                                <span tabindex="0" class="accordion__title"  role="tabpanel" aria-expanded="false" data-binding="expand-accordion-trigger">
                                Quiz
                                </span>
                                <div class="accordion__content" role="tabpanel" aria-hidden="true" data-binding="expand-accordion-container">
                                    <div class="accordion__content-inner">
                                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSciHANtPPdw0xoPhh_DofQNL_U6IWO363pTKAEGdC_LQPuGFw/viewform?embedded=true" width="640" height="9634" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>    
                                    </div>
                                </div>
                            </article>

                        </section>
                    </div>
{% endblock %}
